body {
  margin: 0;
}
.navbar{
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  height: 10%;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 75px;
  height: 50px;
  background-color: #274E87;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  
}

.navbar p {
  margin: 0;
  font-size: 30px;
  font-size: 25px;
  padding-left: 31px;
  margin-left: 10px;
  color: aliceblue;
  font-weight: 400;
}

.body{
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  padding-right: 150px;
  padding-left: 150px;
  color: aliceblue;
  font-family: 'Raleway', sans-serif;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #D9D9D9;
  height: 100px;
}
html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100%;
  position: relative;
}

.footer img{
  width: 100px; 
  height: auto; 
  padding-top: 30px;
  padding-bottom: 15px;
  padding-left: 31px;
}

.circle-row {
  display: flex;
  justify-content:space-evenly;
  padding-top: 60px;
  padding-bottom: 70px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.red {
  background-color: #DD3B3B;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: #274E87;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-container {
  display: flex;
  flex-direction: column;
}

.description {
  font-size: 25px;
  text-align: center;
  color: aliceblue;
  margin-top: 10px;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
}

.blue img{
height: 100px;
padding-bottom: 10px;
}

.red img{
height: 100px;
padding-bottom: 10px;

}

.red:hover{
cursor: pointer;
opacity: 0.8; 
transform: scale(1.2);
transition: all 0.3s ease-in-out; 
}

.blue:hover{
  cursor: pointer;
  opacity: 0.8; 
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  
  }
a{
text-decoration: none;
}
.search-bar{
  text-align: center;
  
  
}

.search-bar input{
  text-align:center;
  font-family: 'Raleway', sans-serif;   
  outline-width: 0;
  border: none;
  color: gray;
  background-color: #EFEBEB;
  border-radius: 50px;
  padding: 3px;
  width: 25%;
  height: 30px;
  margin: 5%;
  font-weight: bold;
  margin-bottom: 250px;

}