.form>* {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 30%;
  min-width: 200px;
  max-width: 600px;
  margin: 40px auto;
}

.form label {
  margin-bottom: 8px;
}
  
.form select {
  padding: 0px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.form input,
.form textarea {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
}
  
.form button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0077ff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}